<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <div id="root">
            <button @click="changeComps">click me</button>
            <one v-if="myTurn"></one>
            <two v-else></two>
        </div>


        <script src="https://unpkg.com/vue"></script>
        <script>
        Vue.component('one', {
            template: `
            <div>
                <p>One</p>
                <input type="text" v-model="message">
                <p>{{message}}</p>
            </div>
            `,
            data: function() {
                return {
                    message: ""
                };
            }
        });

        Vue.component('two', {
            template: `
            <div>
                <p>Two</p>
                <input type="text" v-model="message">
                <p>{{message}}</p>
            </div>
            `,
            data: function() {
                return {
                    message: ""
                };
            }
        });

        new Vue({
            el: "#root",
            data: {
                myTurn: true
            },
            methods: {
                changeComps: function() {
                    this.myTurn = !this.myTurn;
                }
            }
        });
        </script>
    </body>
</html>
