body {
    background-image: url("../images/cards/background_felt.png");
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 5px;
}
table th, table td {
    padding: 1px; /* Apply cell padding */
    text-align: center;
}
.card {
    height: 100px;
    width: 71px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.clickable {
    cursor: pointer;
}
.discard, .play {
    margin-bottom: 20px;
    margin-top: 0px;
}
.trump {
    height: 120px;
    width: auto;
}
.hearts {
    content: url("/assets/images/symbols/hearts.png");
}
.diamonds {
    content: url("/assets/images/symbols/diamonds.png");
}
.spades {
    content: url("/assets/images/symbols/spades.png");
}
.clubs {
    content: url("/assets/images/symbols/clubs.png");
}
.back {
    content: url("/assets/images/cards/card_back.png");
}
.ace-of-spades {
	content: url("/assets/images/cards/ace_of_spades.png");
}
.ace-of-clubs {
	content: url("/assets/images/cards/ace_of_clubs.png");
}
.ace-of-hearts {
	content: url("/assets/images/cards/ace_of_hearts.png");
}
.ace-of-diamonds {
	content: url("/assets/images/cards/ace_of_diamonds.png");
}
.king-of-spades {
	content: url("/assets/images/cards/king_of_spades.png");
}
.king-of-clubs {
	content: url("/assets/images/cards/king_of_clubs.png");
}
.king-of-hearts {
	content: url("/assets/images/cards/king_of_hearts.png");
}
.king-of-diamonds {
	content: url("/assets/images/cards/king_of_diamonds.png");
}
.queen-of-spades {
	content: url("/assets/images/cards/queen_of_spades.png");
}
.queen-of-clubs {
	content: url("/assets/images/cards/queen_of_clubs.png");
}
.queen-of-hearts {
	content: url("/assets/images/cards/queen_of_hearts.png");
}
.queen-of-diamonds {
	content: url("/assets/images/cards/queen_of_diamonds.png");
}
.jack-of-spades {
	content: url("/assets/images/cards/jack_of_spades.png");
}
.jack-of-clubs {
	content: url("/assets/images/cards/jack_of_clubs.png");
}
.jack-of-hearts {
	content: url("/assets/images/cards/jack_of_hearts.png");
}
.jack-of-diamonds {
	content: url("/assets/images/cards/jack_of_diamonds.png");
}
.ten-of-spades {
	content: url("/assets/images/cards/10_of_spades.png");
}
.ten-of-clubs {
	content: url("/assets/images/cards/10_of_clubs.png");
}
.ten-of-hearts {
	content: url("/assets/images/cards/10_of_hearts.png");
}
.ten-of-diamonds {
	content: url("/assets/images/cards/10_of_diamonds.png");
}
.nine-of-spades {
	content: url("/assets/images/cards/9_of_spades.png");
}
.nine-of-clubs {
	content: url("/assets/images/cards/9_of_clubs.png");
}
.nine-of-hearts {
	content: url("/assets/images/cards/9_of_hearts.png");
}
.nine-of-diamonds {
	content: url("/assets/images/cards/9_of_diamonds.png");
}
.eight-of-spades {
	content: url("/assets/images/cards/8_of_spades.png");
}
.eight-of-clubs {
	content: url("/assets/images/cards/8_of_clubs.png");
}
.eight-of-hearts {
	content: url("/assets/images/cards/8_of_hearts.png");
}
.eight-of-diamonds {
	content: url("/assets/images/cards/8_of_diamonds.png");
}
.seven-of-spades {
	content: url("/assets/images/cards/7_of_spades.png");
}
.seven-of-clubs {
	content: url("/assets/images/cards/7_of_clubs.png");
}
.seven-of-hearts {
	content: url("/assets/images/cards/7_of_hearts.png");
}
.seven-of-diamonds {
	content: url("/assets/images/cards/7_of_diamonds.png");
}
.six-of-spades {
	content: url("/assets/images/cards/6_of_spades.png");
}
.six-of-clubs {
	content: url("/assets/images/cards/6_of_clubs.png");
}
.six-of-hearts {
	content: url("/assets/images/cards/6_of_hearts.png");
}
.six-of-diamonds {
	content: url("/assets/images/cards/6_of_diamonds.png");
}
.five-of-spades {
	content: url("/assets/images/cards/5_of_spades.png");
}
.five-of-clubs {
	content: url("/assets/images/cards/5_of_clubs.png");
}
.five-of-hearts {
	content: url("/assets/images/cards/5_of_hearts.png");
}
.five-of-diamonds {
	content: url("/assets/images/cards/5_of_diamonds.png");
}
.four-of-spades {
	content: url("/assets/images/cards/4_of_spades.png");
}
.four-of-clubs {
	content: url("/assets/images/cards/4_of_clubs.png");
}
.four-of-hearts {
	content: url("/assets/images/cards/4_of_hearts.png");
}
.four-of-diamonds {
	content: url("/assets/images/cards/4_of_diamonds.png");
}
.three-of-spades {
	content: url("/assets/images/cards/3_of_spades.png");
}
.three-of-clubs {
	content: url("/assets/images/cards/3_of_clubs.png");
}
.three-of-hearts {
	content: url("/assets/images/cards/3_of_hearts.png");
}
.three-of-diamonds {
	content: url("/assets/images/cards/3_of_diamonds.png");
}
.two-of-spades {
	content: url("/assets/images/cards/2_of_spades.png");
}
.two-of-clubs {
	content: url("/assets/images/cards/2_of_clubs.png");
}
.two-of-hearts {
	content: url("/assets/images/cards/2_of_hearts.png");
}
.two-of-diamonds {
	content: url("/assets/images/cards/2_of_diamonds.png");
}
.joker {
    content: url("/assets/images/cards/black_joker.png");
}
